.message-list {
  padding: 1rem 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #f2f2f2;

  > .message {
    margin-top: 0.5rem;

    &--self {
      align-self: flex-end;
    }
  }

  &__daystamp {
    width: 100%;

    height: 0.2rem;
    margin: 0.7rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.03);
    border-radius: 0.25rem;

    > span {
      padding: 0.2rem 0.5rem;

      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 0.8rem;

      background: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
    }

    &:not(:first-of-type) {
      margin-top: 1.2rem;
    }
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-button {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
