.message-input {
  z-index: 3;
  position: relative;

  min-height: 4rem;

  padding: 0;
  display: flex;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 0.5rem 0.5rem;

  &__text {
    flex: 1 0;
    padding: 0.5rem 2rem;

    font-size: 1rem;

    border: none;
    border-bottom-left-radius: 0.5rem;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__submit {
    padding: 0 2rem;

    font-size: 1rem;

    background: #e8e8e8;
    cursor: pointer;
    border: none;
    border-bottom-right-radius: 0.5rem;
  }

  &__description {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);

    width: 100%;

    padding: 0.5rem 2rem;

    color: rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background: #e2f3ff;

    animation: appear 0.32s forwards;
  }
}

@keyframes appear {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
