.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '☄️';
    height: 2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    line-height: 2rem;

    transform-origin: 0 0;

    animation: spin 1s 100ms infinite;
  }
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
