@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto:400,700&display=swap&subset=cyrillic');

html {
  box-sizing: border-box;

  color: #262322;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  outline: none;
}

body {
  background: linear-gradient(to bottom, #488bdb, #bfddf0);
}
