.app-header {
  height: 3rem;
  width: 100%;

  padding: 0 2rem;
  display: flex;
  align-items: center;

  background: #fafafa;

  &__logo {
    display: flex;
    align-items: center;

    font-family: 'Comfortaa', cursive;

    > i {
      font-style: normal;
      font-size: 1.2rem;
    }

    > span {
      font-size: 1.4rem;
    }
  }
}
